.imagedropshadow {
    padding: 5px;
    border: solid 1px #EFEFEF;
    height: 200px;
}
a:hover img.imagedropshadow {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.header-section {
	padding-top: 30px;
}